motherscall
mother_vue/node_modules
mother_vue/public/images
mother_vue/.gitignore
mothercdata/db.sqlite3
mothercdata/manage.py
mothercdata/motherscnotes/migrations
mothercdata/motherscnotes/__pycache__
mothercdata/motherscnotes/admin.py
mothercdata/motherscnotes/__init__.py
mothercdata/motherscnotes/tests.py
mothercdata/mothercdata/__pycache__
mothercdata/mothercdata/__init__.py
mothercdata/mothercdata/wsgi.py

# Pre-set Vue .gitignore
mother_vue/.DS_Store
mother_vue/node_modules
mother_vue/dist

# local env files
mother_vue/.env.local
mother_vue/.env.*.local

# Log files
mother_vue/npm-debug.log*
mother_vue/yarn-debug.log*
mother_vue/yarn-error.log*

# Editor directories and files
mother_vue/.idea
mother_vue/.vscode
mother_vue/*.suo
mother_vue/*.ntvs*
mother_vue/*.njsproj
mother_vue/*.sln
mother_vue/*.sw*
